.player-content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid #e9ecef;
  /* width: 100%; */
}

.player-col {
  padding: 0 5px;
}

.stats {
  font-size: 1vw;
}

.name {
  font-size: 1.5vw;
}

@media (max-width: 576px) {
  .player-content-sm {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #e9ecef;
    margin: 0px;
    font-size: 0.9em;
  }

  .player-col {
    margin-top: -10px;
  }

  .stats {
    font-size: 4vw;
  }

  .name {
    font-size: 4vw;
  }
}
