.pin-section {
  width: 30%;
  position: fixed;
  top: 10px;
  left: 35%;
  z-index: 101;
}

.pin-section > .player-content {
  animation: 0.5s ease-in slidein;
}

@media (max-width: 576px) {
  .pin-section {
    width: 90%;
    top: 50px;
    left: 5%;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
