.stat {
    margin: 0px 2px;
}

.player-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E9ECEF;
    margin: 2px;
}

.player-col {
    margin: 0 5px;
}